<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Skool. Поступай с умом.</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap-slider.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js\html5shiv.min.js"></script>
    <script src="js\respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .row .thumbnail .progress {
            margin: 30px 30px 0px;;
        }

        .u-rank-down {
            float: right;
            color: red;
        }

        .u-rank-up {
            float: right;
            color: green;
        }

        .thumbnail .progress {
            height: 42px;
        }

        .thumbnail .progress .progress-bar {
            line-height: 42px;
            font-size: 24px;
        }

        .logo-title {
            color: #999;
            font-size: smaller;
        }

    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="logo.png"><span class="logo-title">Поступай с умом.</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-app="skool" ng-controller="MainCtrl" >
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
            <blockquote>
                <p>Обери професію до душі.</p>
            </blockquote>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="skill-1" class="col-sm-4 control-label">Математика</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-1" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-2" class="col-sm-4 control-label">Механіка</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-2" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-3" class="col-sm-4 control-label">Наука</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-3" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-4" class="col-sm-4 control-label">Художній</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-4" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-5" class="col-sm-4 control-label">Міжособистісні</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-5" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-6" class="col-sm-4 control-label">Комунiкацiя</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-6" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skill-7" class="col-sm-4 control-label">Управління</label>
                    <div class="col-sm-8">
                        <input class="skill-slider" id="skill-7" data-slider-tooltip="hide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
            <h1 class="page-header">Результати</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-4" ng-repeat="suggestion in model.suggestions track by $index" ng-click="chooseSpeciality($index)">
                    <div class="thumbnail">
                        <div class="progress">
                            <div class="progress-bar {{ suggestion.score > 60 ? 'progress-bar-success' : 'progress-bar-warning' }} " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{suggestion.score}}%">
                                {{suggestion.score}}%
                            </div>
                        </div>
                        <div class="caption">
                            <h4 style="height:50px">{{suggestion.speciality}}</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="{{ suggestion.job_offers_grow ? 'u-rank-up glyphicon glyphicon-arrow-up' : 'u-rank-down glyphicon glyphicon-arrow-down' }}" aria-hidden="true"></span>
                                    <span class="badge">{{suggestion.job_offers_volume}}</span>
                                    Клькість вакансій по Украіні
                                </li>
                                <li class="list-group-item">
                                    <span class="{{ suggestion.average_revenue_grow ? 'u-rank-up glyphicon glyphicon-arrow-up' : 'u-rank-down glyphicon glyphicon-arrow-down' }}" aria-hidden="true"></span>
                                    <span class="badge">{{suggestion.average_revenue}}</span>
                                    Середня з.п.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-5" class="chart-area">
                    <div ng-repeat="univerRate in model.univer_rates" class="chart-item">
                        <div class="clearfix">
                            <div class="chart-label" style="float:left">
                                <strong><span>{{ univerRate.title }}</span></strong>
                            </div>
                            <percent-horizontal-chart chart-data="univerRate"></percent-horizontal-chart>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-5" class="chart-area">
                    <div ng-repeat="prob in model.enter_probs" class="chart-item">
                        <div class="clearfix">
                            <percent-horizontal-chart chart-data="prob"></percent-horizontal-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src = "js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-slider.js"></script>
<script src="js/d3.js"></script>
<script src="js/main.js"></script>
<script src="js/percent-horizontal-chart.directive.js"></script>

<script type="text/javascript">

</script>
</body>
</html>
